body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px; /* Adjust width as needed */
}

.loading {
  font-size: 20px;
  color: #333;
}

.results-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.numbers {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.number {
  background-color: #4caf50; /* Green color */
  color: white;
  border-radius: 50%;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.date {
  font-size: 14px;
  color: #777;
}
